@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
body {
	padding-left:20px;
}
ul {
	overflow:auto;
}
ul li {
	list-style:none;
	float:left;
	margin-right:20px;
	line-height:30px;
}
span {
	font-weight:700;
}
h1 {
	line-height:50px;
}
h3,
p {
	line-height:30px;
}
