@charset "utf-8";
/* CSS Document */
.container {
    max-width: 1170px;
    margin: 0 auto;
}
/*头部标题*/
.header-wrap {
    width: 100%;
    height: 990px;
    background: url(images/Background.png) 0 0 no-repeat;
    overflow: hidden;
    text-align: center;
    color: #fff;
}
.header {
    margin-top: 178px;
    padding: 0 200px;  
}
h1 {
    font-size: 47px;
    line-height: 72px;
    font-weight: lighter;
}
.introduction {
    margin-top: 62px;
    font-size: 16px;
    line-height: 32px;
    opacity: .6;
    font-weight: lighter;
}
/*头部登录框*/
.login-wrap {
    margin: 94px 100px 0 100px;
    height: 150px;
    padding: 50px 0;
    border-top: 1px solid #52514e;
    border-bottom: 1px solid #52514e;
}
.login-wrap h5 {
    font-size: 13px;
    line-height: 32px;
    font-weight: lighter;
}
.login-wrap h6 {
    font-size: 9px;
    line-height: 32px;
    opacity: .5;
    font-weight: lighter;
}
#login {
    margin-top: 34px;
}
#login input {
    margin-right: 30px;
    width: 250px;
    height: 48px;
    padding: 0 20px;
    border: 1px solid #52514e;
}
#login [type=submit] {
    width: 126px;
    background-color: #fff;
}

/*第二部分 banner*/
.banner {
    padding: 68px 70px 0 58px;
    height: 710px;
}
.ban-header {
    margin: 0 auto;
    width: 664px;
    text-align: center;
}
.ban-header h6 {
    font-size: 11px;
    font-weight: lighter;
    line-height: 52px;
}
.ban-header h3 {
    font-weight: lighter;
    font-size: 34px;
    line-height: 48px;
}
.ban-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.ban-content li {
    width: 430px;
    margin-top: 78px;
}
.ban-content span {
    width: 54px;
    height: 50px;
}
.ban-icon1 {
    background: url(images/icon/Iphone.png) right top no-repeat;
}
.ban-icon2 {
    background: url(images/icon/Check.png) right top no-repeat;
}
.ban-icon3 {
    background: url(images/icon/Pencil.png) right top no-repeat;
}
.ban-icon4 {
    background: url(images/icon/Settings.png) right top no-repeat;
}
.ban-text {
    overflow: auto;
    padding-left: 20px; 
}
.ban-text h4 {
    font-size: 16px;
    margin-bottom: 20px;
}
.ban-text p {
    font-size: 13px;
    line-height: 24px;
}

/*第三部分 support*/
.sup-wrap {
    height: 800px;
    background: url(images/Background2.png) 0 0 no-repeat;
}
.support {
    padding: 174px 0 0 100px;
    color: #fff;
}
.sup-title {
    width: 370px;
    margin-bottom: 50px; 
}
.support h3 {
    font-size: 32px;
    font-weight: lighter;
    line-height: 50px;
    margin-bottom: 28px;
}
.support p {
    font-size: 12px;
    line-height: 32px;
    font-weight: lighter;
}
.support input {
    width: 240px;
    height: 60px;
    border: 1px solid #6b736f;
    margin-right: 30px;
    color: #fff;
}
.support input:hover {
    background-color: #fff;
    color: #000;   
}

/*第四部分 product*/
.product {
    height: 582px;
    border-bottom: 1px solid #e7e7e7;
}
.pro-content {
    padding: 88px 100px 0 100px ;
    text-align: center;
}
.pro-content h3 {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 88px;
}
.pro-intro {
    width: 970px;
    display: flex;
    justify-content: space-between;   
}
.pro-intro li {
    width: 270px;
    color: #838383;
    font-size: 12px;
    line-height: 30px;
}
.pro-intro img {
    margin-bottom: 38px;
}
/*第五部分 learn*/
.learn-wrap {
    height: 1000px;
    border-bottom: 1px solid #e7e7e7;
}
.learn {
    padding: 120px 70px 0 100px;
}
.learn section {
    overflow: auto;
}
.learn section:first-child {
    margin-bottom: 80px;
}
.learn-intro {
    width: 330px;
    padding-top: 64px;
}
.learn-intro h4 {
    font-size: 16px;
    line-height: 34px;
    font-weight: 500;
}
.learn-intro p {
    font-size: 12px;
    line-height: 28px;
    color: #838383;
}
/*第六部分 crew*/
.crew {
    padding: 90px 100px 0 100px;
    height: 996px;
    border-bottom: 1px solid #e7e7e7;
}
.crew-title {
    padding: 0 133px;
    text-align: center;
    margin-bottom: 60px;
}
.crew-title h3 {
    font-size: 30px;
    margin-bottom: 26px;
    font-weight: lighter;
}
.crew-title p {
    font-size: 13px;
    line-height: 18px;
    color: #646464;
}
.crew-intro {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    text-align: center;
}
.crew-intro li {
    width: 470px;
    height: 340px;
    margin-bottom: 30px;
}
.crew1 {
    background: url(images/Userpic1.png) 0 0 no-repeat;
}
.crew2 {
    background: url(images/Userpic2.png) 0 0 no-repeat;
}
.crew3 {
    background: url(images/Userpic3.png) 0 0 no-repeat;
}
.crew4 {
    background: url(images/Userpic4.png) 0 0 no-repeat;
}
.crew-intro h5 {
    font-size: 14px;
    color: #fff;
    font-weight:400;
    margin-bottom: 20px;
}
.crew-intro p {
    font-size: 10px;
    color: #a0a0a0;
}
.contact {
    display: flex;
    justify-content: space-between;
    width: 214px;
    margin: 38px auto 0 auto;
}
.contact span {
    width: 50px;
    height: 50px;
    border: 1px solid #7f7f7f;
    border-radius: 25px;
}
.con-icon1 {
    background: url(images/icon/Facebook.png) center center no-repeat;
}
.con-icon2 {
    background: url(images/icon/Twitter.png) center center no-repeat;
}
.con-icon3 {
    background: url(images/icon/Google.png) center center no-repeat;
}
.hover-wrap {
    padding-top: 108px;
    height: 232px;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}
.crew-intro li:hover .hover-wrap{
    display: block;
}

/*第七部分 send*/
.send-wrap {
    height: 702px;
    padding: 72px 100px 0 100px;
    overflow: auto;
}
.fill {
    width: 370px;
    height: 516px;
    padding: 44px 50px 0 50px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    text-align: center;
}
.fill h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 42px; 
}
.fill input,
.fill textarea {
    box-sizing: border-box; 
    width: 372px;
    margin-bottom: 30px; 
    border:1px solid #d4d3d3;
    padding: 18px;
}
.fill input {
    height:50px;
}
.fill textarea {
    height: 144px;
}
.fill [type=submit] {
    background-color: #000;
    color: #fff;
}
.method-wrap {
    width: 370px;
    padding-top: 76px;
}
.method-wrap h3 {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 30px;
}
.method-wrap > p {
    font-size: 13px;
    line-height: 25px;
    color: #646464;
}
.method {
    margin-top: 68px;
}
.method li {
    margin-bottom: 28px;
}
.method span {
    width: 25px;
    height: 28px;
    margin-right: 12px;
}
.method-icon1 {
    background: url(images/icon/Map.png) right top no-repeat;
}
.method-icon2 {
    background: url(images/icon/Phone.png) right top no-repeat;
}
.method-icon3 {
    background: url(images/icon/Mail.png) right top no-repeat;
}
.method p {
    color: #000;
    font-size: 12px;
    line-height: 16px;
}

/*尾部 footer*/
.footer {
    height: 410px;
    background-color: #000;
    color: #fff;    
    line-height: 36px;
}
.flex {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.footer h5 {
    font-size: 11px;
    font-weight: lighter;
}
.footer a {
    font-size: 12px;
    color: #fff;
}
.footer a,
.footer p {    
    opacity: .5;
    font-weight: lighter;
}
.footer section {
    width: 270px;  
}
.footer p {
    font-size: 16px;
    line-height: 24px;
}
.footer section span {
    margin: 38px 24px 0 0;
    width: 16px;
    height: 18px;
    opacity: .5;
}
.icon1 {
    background: url(images/icon/Twitter.png) 0 0 no-repeat;
}
.icon2 {
    background: url(images/icon/Facebook.png) 0 0 no-repeat;
}
.icon3 {
    background: url(images/icon/Google.png) 0 0 no-repeat;
}
.icon4 {
    background: url(images/icon/Tumbler.png) 0 0 no-repeat;
}
.icon5 {
    background: url(images/icon/Pinterest.png) 0 0 no-repeat;
}
.icon6 {
    background: url(images/icon/LinkedIn.png) 0 0 no-repeat;
}
